fastapi==0.115.0
uvicorn[standard]==0.32.0
langchain==0.3.7
langchain-openai==0.2.8
langchain-community==0.3.7
langchain-chroma==0.1.4
langchain-groq==0.2.1
langchain-huggingface==0.1.2
sentence-transformers==3.3.1
chromadb==0.5.20
pypdf==5.1.0
python-multipart==0.0.12
pydantic==2.9.2
pydantic-settings==2.6.1
python-dotenv==1.0.1
